---
const allpost = await Astro.glob("./posts/*.md*");
import Page from "@/layouts/Page.astro";
---

<style>
    a {
        font-size: 1.8rem;
    }

    li:nth-child(odd) {
        background: #1a1919;
    }

    li:nth-child(even) {
        background: #252525;
    }
</style>
<Page>
    <ul>
        {
            allpost.map((post) => {
                return (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                );
            })
        }
    </ul>
</Page>
