---
import HeroLayout from "@/layouts/heroLayout.astro";
const allpost = await Astro.glob("./posts/*.md*");
---

<HeroLayout>
    <ul>
        {
            allpost.map((post) => {
                return (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                );
            })
        }
    </ul>
</HeroLayout>
