<div class="hidden max-width">
    <div>
        <div><a href="https://www.linkedin.com/in/usrbincat">~Linkedin</a></div>
        <div><a href="https://twitter.com/cu8code">~Twitter</a></div>
        <div><a href="https://github.com/cu8code">~Github</a></div>
        <div><a href="https://www.youtube.com/@usrbincat">~Youtube</a></div>
        <div><a href="https://www.instagram.com/usrbincat">~Instagram</a></div>
    </div>
</div>
