<style>
    .navigation-link{
        font-size: 1.5rem;
    }
</style>
<nav>
    <div>Ankan Roy</div>
    <br>
    <div>
        <div class="navigation-link"><a href="/">~Home</a></div>
        <div class="navigation-link"><a href="/blog">~Blog</a></div>
        <div class="navigation-link"><a href="mailto:8ankanroy@gmail.com">~Colloborate</a></div>
    </div>
</nav>
