<div class="w-screen grid place-items-center bg-stone-800 border-b-2 border-b-white">
  <nav class="flex max-w-screen-md w-full justify-between p-2 items-center">
      <div class="left flex flex-row">
          <div class="logo"></div>
          <div class="name text-2xl font-bold">
              <div>Ankan Roy</div>
          </div>
      </div>
      <div class="navigation-link flex gap-2">
          <div><a href="/">Home</a></div>
          <div><a href="/blog">Blog</a></div>
          <div><a href="mailto:8ankanroy@gmail.com">Email</a></div>
      </div>
  </nav>
</div>
