<nav class="max-width">
    <div class="left">
        <div class="logo"></div>
        <div class="name">
            <div>Ankan</div>
            <div>Roy</div>
        </div>
    </div>
    <div class="navigation-link">
        <div><a href="/">Home</a></div>
        <div><a href="/blog">Blog</a></div>
        <div><a href="mailto:8ankanroy@gmail.com">Colloborate</a></div>
    </div>
</nav>
