---
import Navigation from "@/components/Navigation.astro";
import Linkstree from "@/components/Linkstree.astro";
import "@fontsource/lustria";
import "@fontsource/lato";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>This is a cool website</title>
    </head>
    <body>
        <Navigation />
        <slot />
        <footer>
            <Linkstree />
        </footer>
    </body>
</html>
